<div class="main">
  <h1>Студенты</h1>
  <div class="main__control">
    <div class="main__search">
      <label for="search">Поиск студента (фамилия или имя):</label>
      <input name="search" type="text" id="search" [(ngModel)]="search">
    </div>
    <div>
      <label for="check">Успеваемость ниже 3:</label>
      <input name="check" type="checkbox" id="check" checked (change)="check = !check">
    </div>
  </div>
  <table class="list" cellspacing="0">
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Средний балл</th>
      <th></th>
    </tr>
    <ng-container *ngFor="let iterStudent of students; let i = index">
      <tr [class.linered]="iterStudent.rating < 3 && check"
          [class.lineyellow]="iterStudent.surname === search || iterStudent.name === search">
        <td>{{ iterStudent.surname }}</td>
        <td>{{ iterStudent.name }}</td>
        <td>{{ iterStudent.patronymic }}</td>
        <td>{{ iterStudent.birth }}</td>
        <td>{{ iterStudent.rating }}</td>
        <td><button (click)="deleteStudent(i)">Удалить</button></td>
      </tr>
    </ng-container>
  </table>
</div>
